
@import "@fortawesome/fontawesome-free";
@import "./fa-solid-webfont.css";
@import "bulma/css/bulma.css";

html, body, #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.is-squished {
    max-width: 720px;
}

table td {
    vertical-align: middle !important;
}

table input {
    width: 100%;
}

@media all and (max-width: 720px) {
    .section {
        padding: 1rem 0.75em;
    }
}
